@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'deezer';
  src: url("../fonts/UniversLTStd-UltraCn.otf") format("otf");
}
* {
  box-sizing: border-box;
}

.body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20%;
}

.leftnav {
  width: 210px;
  background-color: #23232c;
  height: 100%;
  position: fixed;
  bottom: 74px;
  opacity: 0.9;
  padding-top: 70px;
  z-index: 1;
}
.leftnav--night {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 95px;
  right: 10px;
  text-align: center;
  cursor: pointer;
}
.leftnav--night::after {
  font-family: FontAwesome;
  content: "\f0eb";
  color: #fff;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.leftnav--night:hover::after {
  color: #eb9400;
}
.leftnav--night--active {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 95px;
  right: 10px;
  text-align: center;
  cursor: pointer;
}
.leftnav--night--active::after {
  font-family: FontAwesome;
  content: "\f0eb";
  color: #eb9400;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.leftnav--night--active:hover::after {
  color: #1868cd;
}
.leftnav--btn {
  display: block;
  height: 100%;
  width: 15px;
  position: absolute;
  background-color: #1d1d20;
  right: -15px;
  bottom: 0px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.leftnav--btn::after {
  font-family: FontAwesome;
  content: "\f0c9";
  position: absolute;
  color: #525252;
  margin-top: 30px;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 1px;
  font-size: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.leftnav--btn:hover {
  background-color: #3d3c3c;
}
.leftnav--btn:hover::after {
  color: #fff;
}
.leftnav--header {
  padding: 20px 20px 0 20px;
  text-align: center;
}
.leftnav--header--logo--img {
  margin-right: 20px;
  width: 120px;
}
.leftnav--primary > ul {
  margin-top: 30px;
}
.leftnav--primary > ul li {
  height: 35px;
  width: 100%;
  position: relative;
}
.leftnav--primary > ul li a {
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  color: lightgray;
  text-decoration: none;
  padding-left: 20px;
  height: 35px;
  line-height: 33px;
  width: 100%;
  border-left: 2px solid rgba(24, 104, 205, 0);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.leftnav--primary > ul li a:hover {
  background-color: #1f1f28;
  border-left: 2px solid #1868cd;
  color: #fff;
}
.leftnav--primary > ul li #sub-btn::after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 80px;
  color: lightgray;
}
.leftnav--primary > ul li .current {
  background-color: #1f1f28;
  border-left: 2px solid #1868cd;
  color: #fff;
}
.leftnav--primary > ul li ul {
  position: relative;
  display: block;
  width: 100%;
  background-color: #2b2b2b;
}
.leftnav--secondary ul {
  height: 160px;
}
.leftnav--secondary ul li {
  height: 50px;
  width: 105px;
  display: inline-block;
  float: left;
}
.leftnav--secondary ul li a {
  font-size: 13px;
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  padding-left: 40px;
  height: 50px;
  line-height: 33px;
  width: 105px;
  position: relative;
  border: 1px solid #1f1f28;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  background-color: #23232c;
}
.leftnav--secondary ul li a:hover {
  background-color: #1f1f28;
  color: #fff;
  border-bottom: 2px solid #1868cd;
}
.leftnav--secondary ul li a::before {
  font-family: FontAwesome;
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.leftnav--secondary ul li #current {
  background-color: #1f1f28;
  border-left: 2px solid #1868cd;
}
.leftnav--secondary--1::before {
  content: "\f004";
}
.leftnav--secondary--2::before {
  content: "\f03a";
}
.leftnav--secondary--3::before {
  content: "\f001";
}
.leftnav--secondary--4::before {
  content: "\f09e";
}
.leftnav--secondary--5::before {
  content: "\f0fe";
}
.leftnav--secondary--6::before {
  content: "\f013";
}
.leftnav--secondary--1 {
  margin-left: 1px;
}
.leftnav--secondary--3 {
  margin-top: -1px;
  margin-left: 1px;
}
.leftnav--secondary--4 {
  margin-top: -1px;
}
.leftnav--secondary--5 {
  margin-top: -2px;
  margin-left: 1px;
}
.leftnav--secondary--6 {
  margin-top: -2px;
}
.leftnav--profil {
  margin-top: 10px;
  position: relative;
}
.leftnav--profil--tag {
  position: relative;
  font-size: 13px;
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  padding-left: 60px;
  height: 35px;
  line-height: 33px;
  width: 100%;
  border-left: 2px solid rgba(24, 104, 205, 0);
  margin-bottom: 20px;
}
.leftnav--profil--tag::before {
  font-family: FontAwesome;
  content: "\f007";
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid lightgray;
  position: absolute;
  left: 15px;
  text-align: center;
}
.leftnav--profil--tag--active {
  position: relative;
  font-size: 13px;
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  padding-left: 60px;
  height: 35px;
  line-height: 33px;
  width: 100%;
  border-left: 2px solid rgba(24, 104, 205, 0);
  margin-bottom: 20px;
}
.leftnav--profil--tag--active::before {
  font-family: FontAwesome;
  content: "\f007";
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #23232c;
  position: absolute;
  left: 15px;
  text-align: center;
}
.leftnav--profil--abonne {
  color: #fff;
  text-decoration: none;
  padding: 8px 42px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #1868cd;
  border-radius: 3px;
  margin-left: 20px;
}
.leftnav--profil--abonne:hover {
  color: #fff;
  background-color: #0f4c99;
}
.leftnav--fav, .leftnav--playlist, .leftnav--album, .leftnav--podcast, .leftnav--app, .leftnav--config {
  height: 100%;
  position: absolute;
  margin-bottom: 330%;
  bottom: 0;
  left: 225px;
  width: 300px;
  background-color: lightgray;
}
.leftnav--fav--header, .leftnav--playlist--header, .leftnav--album--header, .leftnav--podcast--header, .leftnav--app--header, .leftnav--config--header {
  margin-top: 75px;
  background-color: #ececec;
  padding: 20px 20px;
}
.leftnav--fav--header i, .leftnav--playlist--header i, .leftnav--album--header i, .leftnav--podcast--header i, .leftnav--app--header i, .leftnav--config--header i {
  float: right;
  position: relative;
  bottom: 19px;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  background-color: #23232c;
  opacity: 0.9;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.footer--player {
  height: 4px;
  width: 100%;
  background-color: lightgray;
  position: absolute;
  bottom: 70px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.footer--player--progress {
  opacity: 1;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #1868cd;
  width: 0;
}
.footer--player:hover {
  height: 7px;
}
.footer--current {
  float: left;
  color: lightgray;
}
.footer--current--img {
  height: 70px;
  width: 70px;
}
.footer--current--title {
  display: inline-block;
  bottom: 38px;
  left: 85px;
  position: absolute;
  font-weight: 100;
}
.footer--current--artist {
  display: inline-block;
  bottom: 14px;
  left: 85px;
  position: absolute;
  font-weight: 600;
}
.footer--current--time {
  display: inline-block;
  bottom: 14px;
  left: 200px;
  position: absolute;
  font-weight: 600;
}
.footer--current--duration {
  display: inline-block;
  bottom: 14px;
  left: 240px;
  position: absolute;
  font-weight: 100;
}
.footer--controller {
  color: lightgray;
  width: 220px;
  margin: auto;
}
.footer--controller--icons1, .footer--controller--icons2, .footer--controller--icons3, .footer--controller--icons4, .footer--controller--icons5, .footer--controller--icons6 {
  position: relative;
  color: lightgray;
  display: inline-block;
  text-decoration: none;
  margin: 20px 20px 0 20px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer--controller--icons1::before, .footer--controller--icons2::before, .footer--controller--icons3::before, .footer--controller--icons4::before, .footer--controller--icons5::before, .footer--controller--icons6::before {
  font-family: FontAwesome;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}
.footer--controller--icons1:hover, .footer--controller--icons2:hover, .footer--controller--icons3:hover, .footer--controller--icons4:hover, .footer--controller--icons5:hover, .footer--controller--icons6:hover {
  color: #1868cd;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer--controller--icons1::before {
  content: "\f074";
}
.footer--controller--icons2::before {
  content: "\f04a";
}
.footer--controller--icons3::before {
  content: "\f04b";
}
.footer--controller--icons4::before {
  content: "\f04e";
}
.footer--controller--icons5::before {
  content: "\f028";
}
.footer--controller--icons6::before {
  content: "\f04c";
}
.footer--controller--icons5 {
  position: relative;
}
.footer--controller--icons5--volume {
  display: none;
  background-color: lightgray;
  height: 2px;
  width: 100px;
  position: absolute;
  top: 13px;
  left: 30px;
}
.footer--controller--icons5--volume--progress {
  height: 100%;
  background-color: #1868cd;
  position: absolute;
  top: 0;
  width: 80px;
}
.footer--controller--icons5--volume--handler {
  position: absolute;
  bottom: -4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #807d7d;
  left: 80px;
}
.footer--search {
  position: absolute;
  top: 24px;
  right: 30px;
}
.footer--search::after {
  content: '\f002';
  font-family: FontAwesome;
  color: lightgray;
  font-size: 18px;
}
.footer--search:hover::after {
  color: #1868cd;
}
.footer--search--night {
  position: absolute;
  top: 25px;
  right: 30px;
}
.footer--search--night::after {
  content: '\f002';
  font-family: FontAwesome;
  color: #23232c;
  font-size: 18px;
}
.footer--search--night:hover::after {
  color: #1868cd;
}

.background {
  background-image: url("../img/beatles.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 110%;
  left: -5%;
  top: -5%;
  width: 110%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  z-index: -1;
}

.search {
  z-index: 1;
  width: 270px;
  background-color: lightgray;
  height: 100%;
  position: fixed;
  bottom: 74px;
  opacity: 0.9;
  padding-top: 70px;
  right: -270px;
}
.search--content {
  top: 10px;
  height: 100%;
  padding: 10px 10px 0 10px;
  bottom: 50px;
  position: relative;
}
.search--content hr {
  margin-top: 0;
}
.search--content--titre, .search--content--album, .search--content--artiste {
  margin-bottom: 20px;
}
.search--input {
  background-color: #f5f1f1;
  border: none;
  position: absolute;
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  bottom: 0;
  right: 0;
}
.search--input:focus {
  outline: none;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #23232c;
  position: fixed;
  z-index: -3;
  font: 16em/1 "helvetica";
}
.loader--svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 130px;
}
.loader--svg--text--line {
  font-size: .3em;
  color: white;
}
.loader--txt {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 2.5s infinite linear;
          animation: stroke-offset 2.5s infinite linear;
}
.loader--txt:nth-child(1) {
  stroke: #c0d63d;
  stroke-dashoffset: 7%;
}
.loader--txt:nth-child(2) {
  stroke: #d90e0e;
  stroke-dashoffset: 14%;
}
.loader--txt:nth-child(3) {
  stroke: #ffef1e;
  stroke-dashoffset: 21%;
}
.loader--txt:nth-child(4) {
  stroke: #ffffff;
  stroke-dashoffset: 28%;
}
.loader--txt:nth-child(5) {
  stroke: #35c7fb;
  stroke-dashoffset: 35%;
}
@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
/*==============================*\

  #Content

\*==============================*/
.accueil {
  height: 100%;
  width: 100%;
  background-color: none;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}
.accueil--flow {
  margin-top: 2%;
  height: 300px;
  background: url(http://i45.tinypic.com/312z4tg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
}
.accueil--flow--flowLogo {
  height: 30px;
  width: 80px;
  margin: auto;
  margin-top: 10%;
  color: lightgray;
  background-color: #23232c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.accueil--flow--darkBox {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #23232c;
  opacity: 0.9;
}
.accueil--flow--playButton {
  width: 80px;
  font-family: FontAwesome;
  text-decoration: none;
  color: lightgray;
  font-size: 6em;
  display: block;
  margin: auto;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.accueil--flow--playButton::before {
  content: "\f01d ";
}
.accueil--flow--playButton:visited {
  text-decoration: none;
  color: lightgray;
}
.accueil--flow--playButton:link {
  text-decoration: none;
}
.accueil--flow--playButton:hover {
  text-decoration: none;
  color: #1868cd;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}
.accueil--flow--title {
  font-size: 20px;
  color: lightgray;
  text-align: center;
}
.accueil--top10 {
  overflow: hidden;
  margin-top: 2%;
  padding: 0;
  padding-right: 0;
  width: 100%;
  color: lightgray;
}
.accueil--top10--header {
  color: lightgray;
  width: 100%;
  background-color: rgba(35, 35, 44, 0.8);
  padding: 5%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
.accueil--top10--container {
  width: 100%;
  height: 235px;
  box-sizing: content-box;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(35, 35, 44, 0.7);
}
.accueil--top10--container::-webkit-scrollbar {
  width: 6px;
}
.accueil--top10--container::-webkit-scrollbar-track {
  background: lightgray;
}
.accueil--top10--container::-webkit-scrollbar-thumb {
  background: #23232c;
}
.accueil--top10--container--bloc {
  width: 100%;
  border-top: 1px solid #23232c;
  border-bottom: 1px solid #23232c;
  padding: 0;
}
.accueil--top10--container--bloc--number {
  display: inline;
  box-sizing: border-box;
  font-weight: bold;
  padding: 4%;
  color: lightgray;
}
.accueil--top10--container--bloc--cover {
  height: 50px;
  width: 50px;
  display: inline;
  margin-right: 10px;
}
.accueil--top10--container--bloc--artist {
  margin-right: 40px;
}
.accueil--top10--container--bloc--separator {
  display: inline;
}
.accueil--top10--container--bloc--title {
  font-weight: bold;
}
.accueil--top10--container--bloc--icons1, .accueil--top10--container--bloc--icons2 {
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.accueil--top10--container--bloc--icons1:hover, .accueil--top10--container--bloc--icons2:hover {
  color: #3181e7;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.accueil--top10--container--bloc--icons1::before {
  content: "\f04b";
}
.accueil--top10--container--bloc--icons2::before {
  content: "\f067";
}
.accueil--top10--container--bloc--icons3 {
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.accueil--top10--container--bloc--icons3:hover {
  color: #ed7669;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.accueil--top10--container--bloc--icons3::before {
  content: "\f004";
}
.accueil--coupDeCoeur {
  background-color: rgba(35, 35, 44, 0.6);
  width: 100%;
  margin-top: 2%;
  padding-bottom: 5px;
}
.accueil--coupDeCoeur--title {
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
  color: lightgray;
  letter-spacing: 2px;
}
.accueil--coupDeCoeur--title--icons1 {
  font-family: FontAwesome;
}
.accueil--coupDeCoeur--title--icons1::before {
  content: "\f004";
}
.accueil--mixFavoris {
  background-color: rgba(35, 35, 44, 0.6);
  width: 100%;
  margin-top: 2%;
  padding-bottom: 5px;
}
.accueil--mixFavoris--title {
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
  color: lightgray;
  letter-spacing: 2px;
}
.accueil--mixFavoris--title--icons1 {
  font-family: FontAwesome;
}
.accueil--mixFavoris--title--icons1::before {
  content: "\f21e";
}
.accueil--suggestions {
  background-color: rgba(35, 35, 44, 0.6);
  width: 100%;
  margin-top: 2%;
  padding-bottom: 5px;
}
.accueil--suggestions--title {
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
  color: lightgray;
  letter-spacing: 2px;
}
.accueil--suggestions--title--icons1 {
  font-family: FontAwesome;
}
.accueil--suggestions--title--icons1::before {
  content: "\f0e7 ";
  margin-right: 10px;
}

/*==============================*\

  #SLIDER

\*==============================*/
.jssor_1,
.jssor_2,
.jssor_3 {
  position: relative;
  top: 0px;
  left: -10px;
  width: 800px;
  height: 180px;
  overflow: hidden;
  visibility: hidden;
}

.slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: -10px;
  width: 800px;
  height: 180px;
}

.jssorb03 {
  position: absolute;
}

.jssorb03 div,
.jssorb03 div:hover,
.jssorb03 .av {
  position: absolute;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  color: white;
  font-size: 12px;
  background: url("img/b03.png") no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.jssorb03 div {
  background-position: -5px -4px;
}

.jssorb03 div:hover,
.jssorb03 .av:hover {
  background-position: -35px -4px;
}

.jssorb03 .av {
  background-position: -65px -4px;
}

.jssorb03 .dn,
.jssorb03 .dn:hover {
  background-position: -95px -4px;
}

.jssora03l,
.jssora03r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url("img/a03.png") no-repeat;
  overflow: hidden;
}

.jssora03l {
  top: 0px;
  left: 8px;
  width: 55px;
  height: 55px;
  z-index: 20;
}

.jssora03r {
  background-position: -63px -33px;
  top: 0px;
  right: 8px;
  width: 55px;
  height: 55px;
}

.jssora03l:hover {
  background-position: -123px -33px;
}

.jssora03r:hover {
  background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
  background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
  background-position: -303px -33px;
}

/*==============================*\

  #log page

\*==============================*/
.log {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  z-index: 5;
  background-color: black;
  background-image: url("../img/back.jpeg");
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  background-size: 100%;
  font-size: 12px;
}
.log--clearBoth {
  clear: both;
}
.log h1 {
  font-size: 40px;
  color: white;
}
.log h2 {
  font-weight: bold;
  font-size: 30px;
  color: #ea142b;
}
.log h3 {
  font-size: 25px;
  color: #f8987e;
}
.log--presa p {
  font-size: 15px;
  color: white;
}
.log--title {
  margin: auto;
  width: 900px;
  text-align: center;
  float: inherit;
}
.log--inscription {
  float: right;
  width: 200px;
  margin-right: 50px;
  margin-top: 30px;
}
.log--inscription button {
  width: 200px;
  color: white;
  background-color: #951926;
  padding: 14px;
  font-size: 15px;
  border-radius: 1px;
  border: none;
  border-radius: 4px;
}
.log--logo {
  height: 100px;
  width: auto;
  margin-left: 40px;
  float: left;
}
.log--connect {
  margin: auto;
  margin-top: 80px;
  width: 300px;
  text-align: center;
}
.log--connect p {
  color: #ffffff;
}
.log label {
  width: 150px;
  display: block;
}
.log #log--pass {
  padding: 15px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  border: 1px solid #ececec;
}
.log #log--pseudo {
  padding: 15px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  border: 1px solid #ececec;
}
.log #log--button {
  width: 277px;
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: #1868cd;
  padding: 14px;
  font-size: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}
.log #log--button:hover {
  background-color: #1c4b73;
}
.log--presa {
  margin-top: 330px;
  width: 100%;
  height: 560px;
  background-color: #202020;
}
.log--speech {
  width: 400px;
  margin-left: 100px;
  float: left;
}
.log--speech--title {
  margin-top: 50px;
}
.log--iphone {
  opacity: 0.5;
  width: 450px;
  float: right;
  -webkit-transition-delay: 1s;
  /* Safari */
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.log--iphone:hover {
  opacity: 1;
  float: right;
  margin-right: 50px;
}
.log--artistes {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}
.log--artistes p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
}
.log--artistes h2 {
  color: #337c89;
}
.log--artistes h3 {
  color: #8ebfd0;
}
.log--cover {
  width: 550px;
  margin-left: 50px;
  opacity: 0.85;
  float: left;
}
.log--cover:hover {
  -webkit-transition-delay: 1s;
  /* Safari */
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}
.log--speech2 {
  float: right;
  width: 400px;
  text-align: right;
  margin-right: 100px;
}
.log--speech2--title {
  margin-top: 100px;
}
.log--famille {
  width: 100%;
  height: 560px;
  background-color: white;
}
.log--famille p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: black;
}
.log--famille h2 {
  color: #bfd53d;
}
.log--famille h3 {
  color: #dce69c;
}
.log--speech3 {
  width: 400px;
  margin-left: 100px;
  float: left;
}
.log--speech3--title {
  margin-top: 50px;
}
