@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@font-face {
    font-family: 'deezer';
    src: url('../fonts/UniversLTStd-UltraCn.otf') format('otf')
}

$bg-color: #23232c;
$hover-color: rgb(24, 104, 205);
$color: lightgray;
$opacity: 0.8;
$duration: 0.3s;

* {box-sizing: border-box}

body {
  font-family: 'Open Sans', sans-serif;
}

.leftnav {
  width: 210px;
  background-color: $bg-color;
  height: 100%;
  position: fixed;
  bottom: 74px;
  opacity: $opacity;
  padding-top: 70px;
  &--night {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 95px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    &::after {
      font-family: FontAwesome;
      content: "\f0eb";
      color: #fff;
      font-size: 20px;
      transition-duration: $duration;
    }
    &:hover::after {
      color: #eb9400;
    }
  }
  &--night--active {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 95px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    &::after {
      font-family: FontAwesome;
      content: "\f0eb";
      color: #eb9400;
      font-size: 20px;
      transition-duration: $duration;
    }
    &:hover::after {
      color: rgb(24, 104, 205);
    }
  }
  &--btn {
    display: block;
    height: 100%;
    width: 15px;
    position: absolute;
    background-color: #1d1d20;
    right: -15px;
    bottom: 0px;
    text-align: center;
    cursor: pointer;
    transition-duration: $duration;
    &::after {
      font-family: FontAwesome;
      content: "\f0c9";
      position: absolute;
      color: #525252;
      margin-top: 30px;
      top: 50%;
      transform: rotate(90deg);
      right: 1px;
      font-size: 15px;
      transition-duration: $duration;
    }
    &:hover {
      &::after {
        color: #fff;
      }
      background-color: #3d3c3c;
    }
  }
  &--header {
    padding: 20px 20px 0 20px;
    text-align: center;
    &--logo {
      &--img {
        margin-right: 20px;
        width: 120px;
      }
    }
  }
  &--primary {
    > ul {
      margin-top: 30px;
      li {
        height: 35px;
        width: 100%;
        position: relative;
        a {
          font-size: 13px;
          text-transform: uppercase;
          display: block;
          color: lightgray;
          text-decoration: none;
          padding-left: 20px;
          height: 35px;
          line-height: 33px;
          width: 100%;
          border-left: 2px solid rgba(24, 104, 205, 0);
          transition-duration: 0.2s;
          &:hover {
            background-color: #1f1f28;
            border-left: 2px solid $hover-color;
            color: #fff;
          }
        }
        #sub-btn::after {
          font-family: FontAwesome;
          content: '\f107';
          font-size: 16px;
          position: absolute;
          top: 0;
          right: 80px;
          color: $color;
        }
        .current {
          background-color: #1f1f28;
          border-left: 2px solid $hover-color;
          color: #fff;
        }
        ul {
          position: relative;
          display: block;
          width: 100%;
          background-color: #2b2b2b;
        }
      }
    }
  }
  &--secondary {
    ul {
      height: 160px;
      li {
        height: 50px;
        width: 105px;
        display: inline-block;
        float: left;
        a {
          font-size: 13px;
          display: inline-block;
          color: lightgray;
          text-decoration: none;
          padding-left: 40px;
          height: 50px;
          line-height: 33px;
          width: 105px;
          position: relative;
          border: 1px solid #1f1f28;
          transition-duration: 0.3s;
          transition-property: color, background;
          background-color: $bg-color;
          &:hover {
            background-color: #1f1f28;
            color: #fff;
            border-bottom: 2px solid $hover-color;
          }
          &::before {
            font-family: FontAwesome;
            position: absolute;
            font-size: 18px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        #current {
          background-color: #1f1f28;
          border-left: 2px solid $hover-color;
        }
      }
    }
    &--1::before {
      content: "\f004";
    }
    &--2::before {
      content: "\f03a";
    }
    &--3::before {
      content: "\f001";
    }
    &--4::before {
      content: "\f09e";
    }
    &--5::before {
      content: "\f0fe";
    }
    &--6::before {
      content: "\f013";
    }
    &--1{
      margin-left: 1px;
    }
    &--3{
      margin-top: -1px;
      margin-left: 1px;
    }
    &--4 {
      margin-top: -1px;
    }
    &--5{
      margin-top: -2px;
      margin-left: 1px;
    }
    &--6 {
      margin-top: -2px;
    }
  }
  &--profil {
    margin-top: 10px;
    position: relative;
    &--tag {
      position: relative;
      font-size: 13px;
      display: inline-block;
      color: lightgray;
      text-decoration: none;
      padding-left: 60px;
      height: 35px;
      line-height: 33px;
      width: 100%;
      border-left: 2px solid rgba(24, 104, 205, 0);
      margin-bottom: 20px;
      &::before {
        font-family: FontAwesome;
        content: "\f007";
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid lightgray;
        position: absolute;
        left: 15px;
        text-align: center;
      }
    }
    &--tag--active {
      position: relative;
      font-size: 13px;
      display: inline-block;
      color: lightgray;
      text-decoration: none;
      padding-left: 60px;
      height: 35px;
      line-height: 33px;
      width: 100%;
      border-left: 2px solid rgba(24, 104, 205, 0);
      margin-bottom: 20px;
      &::before {
        font-family: FontAwesome;
        content: "\f007";
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $bg-color;
        position: absolute;
        left: 15px;
        text-align: center;
      }
    }
    &--abonne {
      color: #fff;
      text-decoration: none;
      padding: 8px 42px;
      font-size: 13px;
      text-transform: uppercase;
      background-color: $hover-color;
      border-radius: 3px;
      margin-left: 20px;
      &:hover {
        color: #fff;
        background-color: rgb(15, 76, 153);
      }
    }
  }
  &--fav,
  &--playlist,
  &--album,
  &--podcast,
  &--app,
  &--config {
    height: 100%;
    position: absolute;
    margin-bottom: 330%;
    bottom: 0;
    left: 225px;
    width: 300px;
    background-color: $color;
    &--header {
      margin-top: 75px;
      background-color: #ececec;
      padding: 20px 20px;
      & i {
        float: right;
        position: relative;
        bottom: 19px;
        color: rgb(43, 43, 43);
        font-size: 20px;
        cursor: pointer;
      }
    }
    &--content {
    }
  }
}

.footer {
  background-color: $bg-color;
  opacity: $opacity;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  &--player {
    height: 4px;
    width: 100%;
    background-color: $color;
    position: absolute;
    bottom: 70px;
    transition-duration: $duration;
    &--progress {
      opacity: 1;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: $hover-color;
      width: 0;
    }
    &:hover {
      height: 7px;
    }
  }
  &--current {
    float: left;
    color: $color;
    &--img {
      height: 70px;
      width: 70px;
    }
    &--title {
      display: inline-block;
      bottom: 38px;
      left: 85px;
      position: absolute;
      font-weight: 100;
    }
    &--artist {
      display: inline-block;
      bottom: 14px;
      left: 85px;
      position: absolute;
      font-weight: 600;
    }
    &--time {
      display: inline-block;
      bottom: 14px;
      left: 200px;
      position: absolute;
      font-weight: 600;
    }
    &--duration {
      display: inline-block;
      bottom: 14px;
      left: 240px;
      position: absolute;
      font-weight: 100;
    }
  }
  &--controller {
    color: $color;
    width: 220px;
    margin: auto;
    &--icons1,
    &--icons2,
    &--icons3,
    &--icons4,
    &--icons5,
    &--icons6 {
      position: relative;
      color: $color;
      display: inline-block;
      text-decoration: none;
      margin: 25px 20px 0 20px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.2s ease;
      &::before {
        font-family: FontAwesome;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
      }
      &:hover {
        color: $hover-color;
        transition: all 0.2s ease;
      }
    }
    &--icons1::before {
      content: "\f074";
    }
    &--icons2::before {
      content: "\f04a";
    }
    &--icons3::before {
      content: "\f04b";
    }
    &--icons4::before {
      content: "\f04e";
    }
    &--icons5::before {
      content: "\f028";
    }
    &--icons6::before {
      content: "\f04c";
    }
    &--icons5 {
      position: relative;
      &--volume {
        display: none;
        background-color: $color;
        height: 2px;
        width: 100px;
        position: absolute;
        top: 9px;
        left: 30px;
        &--progress {
          height: 100%;
          background-color: $hover-color;
          position: absolute;
          top: 0;
          width: 80px;
        }
        &--handler {
          position: absolute;
          bottom: -4px;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: #807d7d;
          left: 80px;
        }
      }
    }
  }
  &--search {
    position: absolute;
    top: 25px;
    right: 30px;
    &::after {
      content: '\f002';
      font-family: FontAwesome;
      color: $color;
      font-size: 18px;
    }
    &:hover::after {
      color: $hover-color;
    }
  }
  &--search--night {
    position: absolute;
    top: 25px;
    right: 30px;
    &::after {
      content: '\f002';
      font-family: FontAwesome;
      color: #23232c;
      font-size: 18px;
    }
    &:hover::after {
      color: $hover-color;
    }
  }
}

.background {
  background-image: url('../img/beatles.jpg');
  background-position: center center;
  background-repeat: no-repeat;;
  background-size: cover;
  position: fixed;
  height: 110%;
  left: -5%;
  top: -5%;
  width: 110%;
  -webkit-filter:blur(20px);
  filter: blur(20px);
  z-index: -1;
}

.search {
  width: 270px;
  background-color: $color;
  height: 100%;
  position: fixed;
  bottom: 74px;
  opacity: $opacity;
  padding-top: 70px;
  right: -270px;
  &--content {
    height: 100%;
    padding: 10px 10px 0 10px;
    bottom: 50px;
    position: relative;
  }
  &--input {
    background-color: #f5f1f1;
    border: none;
    position: absolute;
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    bottom: 0;
    right: 0;
    &:focus {
      outline: none;
    }
  }
}

.loader{
  width: 100%;
  height: 100%;
  background-color: #23232c;
  position: fixed;
  z-index: -3;
  font: 16em/1 "helvetica";
  &--svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 130px;
    &--text--line {
      font-size: .3em;
        color: white;
    }
  }
  &--txt {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    animation: stroke-offset 2.5s infinite linear;
  }
  &--txt:nth-child(1) {
    stroke: #c0d63d;
    stroke-dashoffset: 7%;
  }
  &--txt:nth-child(2) {
    stroke: #d90e0e;
    stroke-dashoffset: 14%;
  }
  &--txt:nth-child(3) {
    stroke: #ffef1e;
    stroke-dashoffset: 21%;
  }
  &--txt:nth-child(4) {
    stroke: #ffffff;
    stroke-dashoffset: 28%;
  }
  &--txt:nth-child(5) {
    stroke: #35c7fb;
    stroke-dashoffset: 35%;
  }
  @-webkit-keyframes stroke-offset {
    50% {
      stroke-dashoffset: 35%;
      stroke-dasharray: 0 87.5%;
    }
  }

  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: 35%;
      stroke-dasharray: 0 87.5%;
    }
  }
}


/*==============================*\

  #Content

\*==============================*/
