@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

$bg-color: #23232c;
$hover-color: rgb(24, 104, 205);
$color: lightgray;
$opacity: 0.8;
$duration: 0.3s;

* {box-sizing: border-box}

body {
  font-family: 'Open Sans', sans-serif;
}

.leftnav {
  width: 210px;
  background-color: $bg-color;
  height: 100%;
  position: fixed;
  bottom: 74px;
  opacity: $opacity;
  padding-top: 70px;
  &--night {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 95px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    &::after {
      font-family: FontAwesome;
      content: "\f0eb";
      color: #fff;
      font-size: 20px;
      transition-duration: $duration;
    }
    &:hover::after {
      color: #eb9400;
    }
  }
  &--night--active {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 95px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    &::after {
      font-family: FontAwesome;
      content: "\f0eb";
      color: #eb9400;
      font-size: 20px;
      transition-duration: $duration;
    }
    &:hover::after {
      color: rgb(24, 104, 205);
    }
  }
  &--btn {
    display: block;
    height: 100%;
    width: 15px;
    position: absolute;
    background-color: #1d1d20;
    right: -15px;
    bottom: 0px;
    text-align: center;
    transition-duration: $duration;
    &::after {
      font-family: FontAwesome;
      content: "\f0c9";
      position: absolute;
      color: #525252;
      margin-top: 30px;
      top: 50%;
      transform: rotate(90deg);
      right: 1px;
      font-size: 15px;
      transition-duration: $duration;
    }
    &:hover {
      &::after {
        color: #fff;
      }
      background-color: #3d3c3c;
    }
  }
  &--header {
    padding: 20px 20px 0 20px;
    text-align: center;
    &--logo {
      &--img {
        margin-right: 20px;
        width: 120px;
      }
    }
  }
  &--primary {
    ul {
      margin-top: 30px;
      li {
        height: 35px;
        width: 100%;
        a {
          font-size: 13px;
          text-transform: uppercase;
          display: block;
          color: lightgray;
          text-decoration: none;
          padding-left: 20px;
          height: 35px;
          line-height: 33px;
          width: 100%;
          border-left: 2px solid rgba(24, 104, 205, 0);
          transition-duration: 0.2s;
          &:hover {
            background-color: #1f1f28;
            border-left: 2px solid $hover-color;
            color: #fff;
          }
        }
        #current {
          background-color: #1f1f28;
          border-left: 2px solid $hover-color;
          color: #fff;
        }
      }
    }
  }
  &--secondary {
    ul {
      margin-top: 10px;
      height: 160px;
      li {
        height: 50px;
        width: 105px;
        display: inline-block;
        float: left;
        a {
          font-size: 13px;
          display: inline-block;
          color: lightgray;
          text-decoration: none;
          padding-left: 40px;
          height: 50px;
          line-height: 33px;
          width: 105px;
          position: relative;
          border: 1px solid #1f1f28;
          transition-duration: 0.3s;
          &:hover {
            background-color: #1f1f28;
            color: #fff;
            border-bottom: 1px solid $hover-color;
          }
          &::before {
            font-family: FontAwesome;
            position: absolute;
            font-size: 18px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        #current {
          background-color: #1f1f28;
          border-left: 2px solid $hover-color;
        }
      }
    }
    &--1::before {
      content: "\f004";
    }
    &--2::before {
      content: "\f03a";
    }
    &--3::before {
      content: "\f001";
    }
    &--4::before {
      content: "\f09e";
    }
    &--5::before {
      content: "\f0fe";
    }
    &--6::before {
      content: "\f013";
    }
  }
  &--profil {
    margin-top: 20px;
    position: relative;
    &--tag {
      position: relative;
      font-size: 13px;
      display: inline-block;
      color: lightgray;
      text-decoration: none;
      padding-left: 60px;
      height: 35px;
      line-height: 33px;
      width: 100%;
      border-left: 2px solid rgba(24, 104, 205, 0);
      margin-bottom: 30px;
      &::before {
        font-family: FontAwesome;
        content: "\f007";
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid lightgray;
        position: absolute;
        left: 15px;
        text-align: center;
      }
    }
    &--tag--active {
      position: relative;
      font-size: 13px;
      display: inline-block;
      color: lightgray;
      text-decoration: none;
      padding-left: 60px;
      height: 35px;
      line-height: 33px;
      width: 100%;
      border-left: 2px solid rgba(24, 104, 205, 0);
      margin-bottom: 30px;
      &::before {
        font-family: FontAwesome;
        content: "\f007";
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $bg-color;
        position: absolute;
        left: 15px;
        text-align: center;
      }
    }
    &--abonne {
      color: #fff;
      text-decoration: none;
      padding: 8px 42px;
      font-size: 13px;
      text-transform: uppercase;
      background-color: $hover-color;
      border-radius: 3px;
      margin-left: 20px;
      &:hover {
        color: #fff;
        background-color: rgb(15, 76, 153);
      }
    }
  }
}

.footer {
  background-color: $bg-color;
  opacity: $opacity;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  &--player {
    height: 4px;
    width: 100%;
    background-color: $color;
    position: absolute;
    bottom: 70px;
    transition-duration: $duration;
    &--progress {
      opacity: 1;
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      bottom: 70px;
      background-color: $hover-color;
      width: 0;
    }
  }
  &--current {
    float: left;
    color: $color;
    &--img {
      height: 70px;
      width: 70px;
    }
    &--title {
      display: inline-block;
      bottom: 38px;
      left: 85px;
      position: absolute;
      font-weight: 100;
    }
    &--artist {
      display: inline-block;
      bottom: 14px;
      left: 85px;
      position: absolute;
      font-weight: 600;
    }
    &--time {
      display: inline-block;
      bottom: 14px;
      left: 200px;
      position: absolute;
      font-weight: 600;
    }
    &--duration {
      display: inline-block;
      bottom: 14px;
      left: 240px;
      position: absolute;
      font-weight: 100;
    }
  }
  &--controller {
    color: $color;
    width: 220px;
    margin: auto;
    &--icons1,
    &--icons2,
    &--icons3,
    &--icons4,
    &--icons5,
    &--icons6 {
      position: relative;
      color: $color;
      display: inline-block;
      text-decoration: none;
      margin: 25px 20px 0 20px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.2s ease;
      &::before {
        font-family: FontAwesome;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
      }
      &:hover {
        color: $hover-color;
        transition: all 0.2s ease;
      }
    }
    &--icons1::before {
      content: "\f01e";
    }
    &--icons2::before {
      content: "\f04a";
    }
    &--icons3::before {
      content: "\f04b";
    }
    &--icons4::before {
      content: "\f04e";
    }
    &--icons5::before {
      content: "\f074";
    }
    &--icons6::before {
      content: "\f04c";
    }
  }
  &--volume {
    position: absolute;
    left: 65%;
    bottom: 2px;
    height: 50px;
  }
  &--search {
    position: absolute;
    top: 22px;
    right: 8px;
    &--input {
      position: relative;
      margin-right: 20px;
      border-radius: 10px;
      border: none;
      padding: 5px 15px;
      &:focus {
        outline: none;
        color: #393939;
      }
    }
  }
}

.background {
  background: url('../img/beatles.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  height: 110%;
  left: -5%;
  top: -5%;
  width: 110%;
  -webkit-filter:blur(20px);
  filter: blur(20px);
  z-index: -1;
}

/*==============================*\

  #Content

\*==============================*/
